<app-sidebar></app-sidebar>
<!--<div class="card" style="width: 18rem;">-->

  <div class="container">
  <div class="card col col-lg-12"  style="width: 70; align-items: center;">
    <img
      src="assets/Imagenes/Disculpas.jpg"
      class="card-img-top"
      alt="Aseo"
    />
    <div class="card-body">
      <h1 class="card-title">PAGINA EN DESARROLLO</h1>
      <p class="card-text">
        <p class="card-text">   Pedimos disculpas, en estos momentos la pagina esta en desarrollo.</p>


        <p class="card-text">   Estaremos atentos a cualquier inquietud.</p>
                    <BR>
      <a  routerLink="../../admin/home" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i> REGRESAR</a>
    </div>
  </div>
</div>

<app-footbar></app-footbar>
