<app-sidebar></app-sidebar>
<!--<div class="card" style="width: 18rem;">-->

  <div class="container">
  <div class="card col col-lg-12"  style="width: 70; align-items: center;">
    <img
      src="assets/Imagenes/Confort.png"
      class="card-img-top"
      alt="Aseo"
    />
    <div class="card-body">
      <h1 class="card-title">Confort</h1>
      <p class="card-text">
        <p class="card-text">   ¿Quieres mantener entretenido a tu gato? Consigue una caja.</p>


        <p class="card-text">  Los gatos son mascotas muy curiosas y juguetonas, y para darnos cuenta de esto basta ver los largos periodos de tiempo que el animal puede pasar entretenido simplemente con una caja.</p>

        <p class="card-text">  Esta relación felino - objeto tiene varias explicaciones, las cuales van desde el simple juego hasta otras relacionadas con una sensación de comodidad. Acompáñanos a revisar algunas.</p>

        <p class="card-text"> Generalmente los espacios cerrados se traducen en confort para estas mascotas, es por eso que se sienten tan a gusto en ellos, además de que les brinda seguridad, pues cualquier cosa externa tendrá que pasar por su campo de visión para entrar.

        </p>

        <p class="card-text"> Esto, según ellos, les resulta genial para "cazar", pues desde dicho escondite pueden acechar a su presa; recordemos que estos animales son depredadores natos.


          Como probablemente sepas, el cartón es un excelente aislante, lo que lo vuelve un material ideal para esta temporada de calor, lo que mantendrá seco al gato y permitirá que descanse mejor.


          Esto también hace que las cajas sean perfectas para que el animal duerma, una actividad a la que puede dedicar hasta 18 horas al día, y que mejor si lo puede hacer en un lugar que considera cómodo.


          Y aquí no paran las bendiciones de estos accesorios, pues incluso puedes armar castillos y laberintos si unes varias cajas, lo que mantendrá a tu felino entretenido por horas, solo debes asegurarte de unirlas bien con cinta adhesiva y hacer agujeros que sirvan de puertas y ventanas.


          Solo ten en cuenta que no será eterno, pues otro de los factores que les atraen de las cajas, es su textura que pueden morder y arañar durante días, por lo que inevitablemente terminarán haciéndolas trizas.

        </p>

      <a  routerLink="../../admin/home" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i> REGRESAR</a>
    </div>
  </div>
</div>

<app-footbar></app-footbar>

