<app-sidebar></app-sidebar>
<!--<div class="card" style="width: 18rem;">-->

  <div class="container">
  <div class="card col col-lg-12"  style="width: 70; align-items: center;">
    <img
      src="assets/Imagenes/Aseo.jpg"
      class="card-img-top"
      alt="Aseo"
    />
    <div class="card-body">
      <h1 class="card-title">Aseo</h1>
      <p class="card-text">
        <p class="card-text">   Una de la diferencia clave entre perros y gatos, es que estos últimos, prácticamente usan su propio "retrete" para hacer sus necesidades, así es, nos referimos a la caja de arena, uno de los primeros artículos en los que debes de pensar si quieres tener una de estas mascotas.</p>


        <p class="card-text">Si bien estos dos elementos van de la mano, lo cierto que los felinos no nacen sabiendo utilizar la caja de arena, es por esto que nosotros debemos orientar su instinto de la manera correcta para que lo hagan.</p>


          <p class="card-text">Primero, debes analizar dónde colocarlo, este tiene que ser un sitio fijo para que el animal poco a poco aprenda que ese es su "baño". Asegúrate de que esté en un lugar tranquilo donde se sienta seguro, de lo contrario, difícilmente querrá utilizarlo.</p>


            <p class="card-text">El arenero es algo completamente nuevo y desconocido para el gato, así que es importante que durante todo este proceso de entrenamiento seas muy paciente, y sobre todo, constante.</p>


              <p class="card-text">Para que de entrada no le abrume su nuevo hogar, en las primeras semanas puedes limitar su acceso a solo dos habitaciones, colocando la caja en una de ellas, esto le ayudará a sentir confianza rápidamente.</p>


                <p class="card-text">Cuando comience a utilizarlo, tendrás que premiarlo con caricias y quizá con golosinas, esto como parte del refuerzo positivo, pues así poco a poco entenderá que este comportamiento es el adecuado.</p>


                  <p class="card-text">Recuerda mantener el arenero limpio en todo momento, de lo contrario, el animal no querrá emplearlo y buscará otros sitios para hacer sus necesidades.

                    <BR>
      <a  routerLink="../../admin/home" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i> REGRESAR</a>
    </div>
  </div>
</div>

<app-footbar></app-footbar>
