<app-sidebar></app-sidebar>
<!--<div class="card" style="width: 18rem;">-->

  <div class="container">
  <div class="card col col-lg-12"  style="width: 70; align-items: center;">
    <img
      src="assets/Imagenes/Comida.jpg"
      class="card-img-top"
      alt="Aseo"
    />
    <div class="card-body">
      <h1 class="card-title">¿Cuánta comida debo darle a mi gato?</h1>
      <p class="card-text">
        <p class="card-text">   Alimentar a tu mascota es como todos sus cuidados una responsabilidad muy importante y una que puede ser un poco más complicada de lo normal y que debe tomar en cuenta más factores, por ejemplo ¿sabes cuánta comida húmeda debes darle a tu mascota?.</p>


        <p class="card-text">
          <br>
         <b>La importancia de una alimentación medida</b>
         <br><br>


          Una dieta balanceada y con porciones adecuadas es necesaria debido a la gran cantidad de problemas de obesidad y sobrepeso en las mascotas a nivel mundial, un problema que afecta el cuerpo de los felinos y que puede traer otro tipo de enfermedades, como cárdiacos, enfermedades capilares, infecciones, diabetes, etc.

<br><br>
         <b>¿Cómo calcular la cantidad correcta de alimentos?</b>
         <br><br>


          Esto es algo que te puede recomendar tu veterinario y que puede ser calculado con la actividad física, la cantidad de comidas durante el día y el peso de tu mascotas.


          Por ejemplo, si tu veterinario te recomienda que debe comer dos sobres al día, puedes darle uno por comida.


          RECUERDA: Si buscas cuidar su peso debes reducir las calorías que se agregan con los premios.</p>
                    <BR>
      <a  routerLink="../../admin/home" class="btn btn-primary"> <i class="fa fa-arrow-left" aria-hidden="true"></i> REGRESAR</a>
    </div>
  </div>
</div>

<app-footbar></app-footbar>

