<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img  src="assets/Imagenes/Icono.jpg" alt="..." class="img-thumbnail img-rounded my-2 my-sm-0" style="width: 5%;">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../../admin/contacto">Contacto</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a  class="dropdown-item" routerLink="../../admin/aseo" >Aseo</a>
          <a class="dropdown-item" routerLink="../../admin/comida">Comida</a>
          <a class="dropdown-item" routerLink="../../admin/confort">Confort</a>
          <a class="dropdown-item" routerLink="../../admin/disculpas">Ropa</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Links de interes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="../../admin/disculpas">Precios</a>
          <a class="dropdown-item" routerLink="../../admin/disculpas">Razasas</a>
          <a class="dropdown-item" routerLink="../../admin/disculpas">Confort</a>
          <a class="dropdown-item" routerLink="../../admin/disculpas">Ropa</a>
        </div>
      </li>
    </ul>

      <img  src="assets/Imagenes/Icono.jpg" alt="..." class="img-thumbnail img-rounded my-2 my-sm-0" style="width: 5%;">

  </div>
</nav>
